<p>
  guest id : {{id_user}}
  guest id : {{guest?.id}}
  <!--elvis operator(punto interrogativo) serve per farsi che il flusso aspetti la valorizzazione dell'attributo senza dare l'errore -->
</p>

<div id="details">  {{guest | json}}
<hr>
  <router-outlet></router-outlet>

  <iframe width="560" height="315" [src]="urlVideo" frameborder="0"
          allow="autoplay; encrypted-media" allowfullscreen>

  </iframe>
</div>

<div id="userList">
  <ul>
    <li>
      <a routerLink="info" routerLinkActive="selezionato">info</a>
    </li>
    <li>
      <a routerLink="contact" routerLinkActive="selezionato">contact</a>
    </li>

  </ul>
  <app-guest-simple-list></app-guest-simple-list>



</div>

